<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
{% extends "master.html" %}

{% block title %}
 Details about{{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}

</head>
<body>

{% block content %}
<div class="mycard">

<h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
  
<p>Phone: {{ mymember.phone }}</p>
<p>Member since: {{ mymember.joined_date }}</p>

</div>

{% endblock %}




    
</body>
</html>