
<!-- Appeler lestaticpour pouvoir l'utiliser  -->
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
</head>
<body>

    <div class="topnav">
        <a href="/">Accueil</a>
        <a href="/members">MEMBRES</a>
        

    </div>

    {% block content %}
    {% endblock %}
</body>
</html>