<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 {% for x in fruits %}
    <h1>{{ x }}</h1>
 {% endfor %}
  
  <p>Dans views.py, vous pouvez voir à quoi ressemble la variable fruits.</p>
    
 {% with firstname = "Abdou" %}
  <h1>Salut  {{ firstname }}, Comment vas-tu ?</h1>
 {% endwith %}
<p>In views.py you can see how to create the variable.</p>
<p>In template.html you can see how to use the variable.</p>

<!-- <ul>
    {% for x in mymembers %}
       <li> {{ x.firstname}}</li>
    {% endfor %}
</ul>
<p> je suis maoulida abdoulhafidhou </p> -->

</body>
</html>